/003_combined_PTB_pid.csv
/003_combined_PTB_pid_updated.csv
/003_leng_of_stay_pid.csv
/003_patient_summary_for_158.pdf
/003_patient_summary_for_158.png
/003_patient_summary_for_173.pdf
/01_delta_plots.pdf
/01_mice_16s_p1.pdf
/01_mice_accession_info.csv
/01_pcoa_leg.pdf
/022_ALL173_stool_samples_genus_counts.csv
/02_transplant_CFU_plot.RDS
/02_transplant_mice_CFU.pdf
/03_group2_exposure.png
/03_what_ONS.png
/05_cleaned_three_sugars_longtime_mice.RDS
/05_f3_five_days.RDS
/05_f3_sugars_days.RDS
/06_d_to_earliest_P52.pdf
/06_distance_to_earliest.pdf
/072_cal_legend.pdf
/072_faith_legend.pdf
/072_time_legend.pdf
/072_total_patients_zero_eating_days_pid.csv
/072_umap1_ras.pdf
/07_control_d_tb.jpg
/07_diet_mice.pdf
/07_diet_mice_Angel.pdf
/07_nofiber.csv
/07_nofiber_d_tb.jpg
/07_nofiber_days.RDS
/07_nofiber_days.jpg
/084_mod_PCA.csv
/084_mod_PCA.rds
/084_pca_diversity.pdf
/084_pca_diversity.png
/084_samples_and_PCA.csv
/085_engraftment_day_annot.csv
/085_example_patient_timecourse.pdf
/086_twoscore_procrustes.csv
/087_more_abundant_0.002_genus_33.csv
/08_chow_auc.RDS
/08_chow_days.RDS
/08_chow_intake.csv
/090_all_samples1009_meta_p2d_fg9_dietall_genera90_pid.csv
/090_alpha_macro_fat_interaction_model.rds
/090_conditional3.RDS
/090_daily_macro_density.csv
/090_model_alpha_carb_only.csv
/090_model_alpha_carb_only.rds
/090_model_alpha_density_interaction_model.csv
/090_model_alpha_density_interaction_model.rds
/090_model_alpha_macro_fat_interaction_original.rds
/090_model_alpha_macro_fat_post_interaction.csv
/090_model_alpha_macro_fat_prior_interaction.csv
/090_target_genus_macro_model_post_interaction.csv
/090_target_protein_genus_macro_model_post_interaction.csv
/09_OS_model.png
/09_OS_model_multi.png
/09_OS_model_multi_inclu_carb.png
/09_bar_leg.pdf
/09_clinical_outcome.pdf
/09_cluster_patient_characteristics.png
/10_Individual_intake_Oct21.pdf
/10_Individual_intake_proportions_Oct21.pdf
/10_df_diet_pt.RDS
/11_patient_summary_clusters.png
/12_interaction_model_diversity_pre_transplant.csv
/12_interaction_model_diversity_pre_transplant.rds
/13_entero_model_macro_sugar_group_post_interaction.csv
/14_div_model_interaction_two_abx.csv
/14_group4_antibiotics.pdf
/14_two_abx.csv
/14_two_abx.png
/152_combined_DTB.csv
/153_combined_META.csv
/156_combined_PTB.csv
/15_SRA.tsv
/15_biosample.tsv
/162_all_faith_pid.csv
/16_cal_cluster.pdf
/16_dense_3.pdf
/16_dense_4.pdf
/16_dense_4_log2.pdf
/16_dense_4_sqrt.pdf
/16_dense_5.pdf
/16_dense_5_weak.pdf
/16_new_cal_gram_prop.pdf
/171_asv_with_pident_gt_97.csv
/171_div_model_fg_post_interaction.csv
/171_entero_model_fg_post_interaction.csv
/171_genus_CLR_res.csv
/171_mod_entero_interaction_original.rds
/171_target_genus_fg_model_post_interaction.csv
/172_spearman_all.csv
/173_Caterpillar Plot of Random Intercepts for Week.jpg
/173_Prior_pred_check.pdf
/173_conditional_data.csv
/178_correbar.pdf
/178_low_three.pdf
/178_low_three.png
/180_37_genus.csv
/18_check_medication.csv
/18_div_model_fg_post.csv
/18_entero_model_fg_post.csv
/18_heatmpa.pdf
/18_heatmpa_both.pdf
/18_heatmpa_both_withmissing.pdf
/18_heatmpa_one.pdf
/18_model_div_original_no_abx_and_FQ.csv
/18_model_div_original_no_abx_and_FQ.pdf
/18_model_div_original_three_abx_levels.csv
/191_medication_cleaned_all_with_type.csv
/194_g3_milk_codes_grouping.csv
/196_matching_shortname.rds
/197_three_cfu.pdf
/198_chow_consumption_AUC.pdf
/20250722-WWEIA-microbiomeJSshort.pdf
/204_mice_diet_gvhd_all.csv
/204_mice_diet_healthy_all.csv
/204_zymo_annotation_taxa_color.csv
/20_mouse_2.pdf
/20_poster_2.pdf
/2H.ai
/2H.png
/5053.pdf
/7_25_25_biapenem_rebuttal_EM07.xlsx - Sheet1.csv
/7_29_25_germ_free_faecalis_gavage - sheet1.csv
/7_29_25_germ_free_faecalis_gavage - sheet1.tsv
/7_29_25_germ_free_faecalis_gavage.csv
/7_31_25_biapenem_rebuttal_RB08 - Sheet1.csv
/7_9_25 weights_biapenem_rebuttal_experiment.xlsx
/7_9_25Biapenem Rebuttal Experiment.csv
/7_9_25Biapenem Rebuttal Experiment_updated.csv
/8_13_25_germ_free_faecalis_gavage_repeat - sheet1.csv
/8_5_25_Biapenem_Sugar_Delay_1.csv
/8_6_25_Biapenem_Sugar_Delay_1 - sheet1.csv
/8_8_25_Biapenem_Sugar_Delay_2 - sheet1.csv
/8_8_25_Biapenem_Sugar_Delay_2.csv
/Angel Rebuttal_Exp2_Healthy mice Diet_Fructose_Sucrose_Glucose_v2.xlsx
/Average_composition_Dec10.pdf
/Average_intake_Dec10.pdf
/BMT2_Metadata_ForCSVImport copy.xlsx
/Biapenem_Testing_May_2025.csv
/Data_S1_NCBI_accession_sampleid.csv
/Data_S1_NCBI_accession_sampleid.xls
/Data_S4_Medication_Exposures_in_the_Two_Days_Prior_to_Stool_Sample_Collection.csv
/Enterococcus_spp.pdf
/F1_overview_raw_072_2024_11-13_Angel.pdf
/F1_overview_raw_072_new_edited.pdf
/F1_scatter.ai
/F1_scatter.png
/F2C.ai
/F2C.png
/F2_model_results_176.pdf
/F2_model_results_176_edited.pdf
/F2_model_results_176_edited_2024-11-06_tsoni.pdf
/F3_clinical_outcome_2024-10-21_forest.pdf
/F3_clinical_outcome_2024-11-07_forest.pdf
/F3_clinical_outcome_2024-12-25.pdf
/F4_current_178_changing.pdf
/F4_current_178_changing_edited.pdf
/Fig1A and S10_poor_health_pre_transplant_R12.png
/FigS5_abx_exposures_2025-03-04.pdf
/Fig_R1_egg_days_04_edited.pdf
/Fig_R1_egg_days_04_edited.png
/Fig_R2_macro_lactose_13.pdf
/Fig_R2_macro_lactose_13.png
/Fig_R3_aGVHD_onset.pdf
/Fig_R3_aGVHD_onset.png
/GRM_model.html
/Individual_intake_Dec10.pdf
/Individual_intake_proportions_Dec10.pdf
/LFC_Heatmap_LI_Colonization.png
/LFC_Heatmap_LI_Sucrose.png
/LFC_Heatmap_SI_Colonization.png
/LFC_Heatmap_SI_Sucrose.png
/LFC_heatmap_LI_effects.png
/LFC_heatmap_LI_effects_paneled.png
/LFC_heatmap_LI_effects_paneled_rescaled.png
/LFC_heatmap_SI_effects.png
/LFC_heatmap_SI_effects_paneled.png
/LFC_heatmap_SI_effects_paneled_rescaled.png
/LFC_heatmaps_combined.png
/No Fiber CFU MetaData 2025 2.xlsx
/No fiber or starch 9GKZ\[71\].pdf
/NodeLabels.txt
/NodeLabelsMCT.txt
/NodeLabelsMCT_modified953.txt
/OS_model.html
/R01_h_bar4.jpg
/R01_h_bar4.pdf
/R01_maaslin2_abx+sucrose_d3_volcano.jpg
/R01_maaslin2_abx+sucrose_d3_volcano.pdf
/R01_maaslin2_abx+sucrose_d3_volcano_family.jpg
/R01_maaslin2_abx+sucrose_d3_volcano_family.pdf
/R01_maaslin2_abx+sucrose_d6_volcano.jpg
/R01_maaslin2_abx+sucrose_d6_volcano.pdf
/R01_maaslin2_abx+sucrose_d6_volcano_family.jpg
/R01_maaslin2_abx+sucrose_d6_volcano_family.pdf
/R01_maaslin2_output_ALL_grp4
/R01_maaslin2_output_ALL_grp4_family
/R01_maaslin2_output_ALL_grp4_pbs_reference_abx_effects
/R02_cleaned_clinical_outcome.Rdata
/R02_cleaned_clinical_outcome.rds
/R02_cleaned_clinical_outcome2.rds
/R03_interaction_conditional_model_ONS.csv
/R03_interaction_conditional_model_ONS.rds
/R03_mod_ONS_original.rds
/R04_egg_diet_experiments.csv
/R06_joined_diet_stool_distance_to_earliest.csv
/R06_merged_pcoa_bray_curtis.csv
/R06_p2d_fc_df.biom
/R06_p2d_fc_df.qza
/R06_p2d_fc_df.tsv
/R06_p2d_fc_unweighted_unifrac_distance_PCOA
/R06_p2d_fc_unweighted_unifrac_distance_PCOA.qza
/R06_p2d_fc_unweighted_unifrac_distance_matrix
/R06_p2d_fc_unweighted_unifrac_distance_matrix.qza
/R06_pcoa.pdf
/R06_pcoa_p2d_fc.csv
/R06_random_eff.pdf
/R07_no_fiber_experiment_data_CFU.csv
/R15_copy_mice.sh
/R20_nutrition_patients_need_bsi.csv
/R21_meds_updated_all_medication_classified.csv
/R23_En_box_plot_exposure.png
/R23_diversity_plot_exposure.png
/R23_time_adjusted_diversity_plot.png
/R25_Enterococcus_asv_blast_res_full_sorted.csv
/R25_all_enterococcus_asv_in_sample.csv
/R25_asv_counts.csv
/R25_top_hits_filtered_enterococcus_asv.csv
/R26_enterococcus_spp.jpg
/R26_human_shotgun_res.csv
/R26_pt_timecourse.pdf
/R27_all_model_effects_comparison.png
/R27_decreasing_power.pdf
/R27_faceted_exposure.jpg
/R27_faceted_exposure.pdf
/R27_g9_tree.pdf
/R27_group3_abxsugar_comparison_df.csv
/R27_group3_top10.jpg
/R27_group4_full_res.csv
/R27_group4_top10.jpg
/R29_Enterococcus_spp_edited.pdf
/R29_cor_asv_1.jpg
/R29_cor_asv_33.jpg
/R30_composition_model.pdf
/R30_heatmap_panels.jpg
/R30_ridgeline_panels.jpg
/R31_Biapenem_Sugar_Delay_1.csv
/R31_delay_design.jpg
/R31_delay_design.pdf
/R31_delayed_sugar.pdf
/R31_delayed_sugar_edited.pdf
/R31_few_weight_timeline.jpg
/R31_few_weight_timeline_to_day3.jpg
/R31_foldchange.jpg
/R31_mice_tally.png
/R31_mice_weight_reduction.pdf
/R31_room_counts.pdf
/R31_sugar_delay.png
/R31_sugar_delay1.png
/R31_weight_change.jpg
/R32_meds_expanded_all_medication_classified_for_each_day.csv
/R32_rebound_pid.pdf
/R32_rebound_pid_selected.pdf
/R33_germ_free_data_for_plot.csv
/R33_germ_free_mouse.pdf
/R33_germ_free_mouse____edited.pdf
/R33_germ_free_mouse_legend.pdf
/R33_germ_free_mouse_old.pdf
/R33_germ_free_mouse_with_legend.pdf
/R33_gf_design_new.pdf
/R33_gf_full_course.jpg
/R33_gf_full_course_with_median.jpg
/R33_gf_full_course_with_median_REPEAT.jpg
/R33_gf_full_course_with_median_combined2.jpg
/R33_gm_summaries_2.jpg
/R34_pt_enterococcus_bloom.png
/R38_DEG_volcano.png
/R38_combined_heatmaps_figure.jpg
/R38_combined_heatmaps_figure_top_legend.jpg
/R38_combined_heatmaps_figure_top_legend.png
/R38_combined_heatmaps_figure_top_legend_ADDED_legend.pdf
/R38_combined_heatmaps_figure_top_legend_edited.pdf
/R38_combined_heatmaps_figure_top_legend_has.pdf
/R38_germ_free_RNAseq.pdf
/R38_gsea_summary_figure.jpg
/R38_gsea_summary_figure.pdf
/R38_gsea_summary_figure.png
/R38_heatmap_large_intestine.png
/R38_heatmap_small_intestine.png
/R38_leading_genes_heatmap.pdf
/R38_leading_genes_heatmap.png
/R38_pca_gf.pdf
/R38_pca_gf.png
/R38_pca_gf_split.png
/R38_sig_pathway_li_contrast2.pdf
/R38_sig_pathway_si_contrast2.pdf
/R38_sig_pw_bar.png
/R38_sig_pw_bar_contrast1.png
/R38_top20.pdf
/R38_top20.png
/R38_top50.pdf
/S01_stool_sample_selection.pdf
/S02_all_patients_timecourse_1.pdf
/S02_all_patients_timecourse_2.pdf
/S02_all_patients_timecourse_3.pdf
/S02_all_patients_timecourse_4.pdf
/S03_06_distance_to_earliest_2024-10-15.pdf
/S04.ai
/S04.png
/S04_abx_heatmap.pdf
/S04_prior_and_post_pred_173_edited.pdf
/S05_14_group4_antibiotics_2024-11-05_tsoni.pdf
/S08_03_ONS.pdf
/S08_03_ONS.png
/S10_poor_health_pre_transplant_R12.pdf
/S11_C.ai
/S11_C.png
/S11_D_F3C_Table_S3.ai
/S11_D_F3C_Table_S3.png
/S11_clinical_outcome_supp_R09_2024-11-10_tsoni.pdf
/S12_fg_genus_heatmap_180_edited_2024-10-15.pdf
/S12_genus_diversity_correlation_178.pdf
/S13_conditional9_entero_171.pdf
/S13_genus_diversity_correlation_178.pdf
/S14_conditional9_entero_171.pdf
/S14_fg_genus_heatmap_180_edited.pdf
/S15_A_B.ai
/S15_A_B.png
/S15_C_D.ai
/S15_C_D.png
/S15_E.ai
/S15_E.png
/S15_F.ai
/S15_F.png
/S15_mice_16s_p1_01_edited.pdf
/S15_mice_16s_p2_01_edited.pdf
/S16B.png
/S16C.png
/S16D.ai
/S16D.png
/S16_diet_mice_p1_07_edited.pdf
/S16_diet_mice_p2_07_edited.pdf
/S1_stool_sample_selection.png
/S3_drugs.png
/S5_top10_eaten_foods_of_sweets_099.pdf
/S6_pid_intercepts_forest_179.pdf
/S6_pid_intercepts_forest_179.png
/S7_genus_diversity_correlation_178.pdf
/S7_top10_eaten_foods_of_sweets_099.pdf
/Screenshot 2025-08-02 at 11.01.18 AM.png
/Sucrose_All Experiments Consolidated .xlsx
/Sucrose_All Experiments Consolidated.xlsx
/Supple_table_clinical_multivariate.pdf
/TRM_model.html
/Table_1_patient_summary_003.pdf
/Table_S1_patient_summary_158_003.pdf
/Table_S2_patient_summary__cluster_11.pdf
/Table_S3_OS_multivariate_R09.pdf
/Table_S4_two_diets_composition_R07.pdf
/V4_clusters_pretty.pdf
/aGVHDonset.pdf
/aGVHDonset_model_multi.html
/aGVHDonset_model_multi.png
/aGVHDonset_model_uni.html
/aGVHDonset_model_univariate.png
/absolute.abundance.csv
/abx-doublechecking.csv
/angel_chrt_bsi_cd4_alc.RData
/annotation.base.txt
/biosample_acc.tsv
/bsi_nutrition_cohort-2022-02-24.rds
/cartoon_of_model.png
/cluster_table.csv
/cluster_table.pdf
/conditional10
/df_main.Rdata
/df_main_Dec10.Rdata
/df_main_Dec10_1yr.Rdata
/df_main_Oct21.Rdata
/df_main_Sep18.Rdata
/diet_mice_BM_only.png
/entero_caterpillar.png
/enterocatterpillar.ai
/extended data figure why ok to exclude FQ.pdf
/f1_three.png
/fig3_AB_S11_AB_Stable_2.ai
/fig3_AB_S11_AB_Stable_2.png
/food_group_color_key_final.csv
/gsea_leading_edge_heatmap_Colonization_Large_Intestine.jpg
/gsea_leading_edge_heatmap_Colonization_Small_Intestine.jpg
/gsea_leading_edge_heatmap_sucrose_Large_Intestine.jpg
/gsea_leading_edge_heatmap_sucrose_Small_Intestine.jpg
/heatmap_top_100_genes.png
/heatmap_top_bottom_100_genes.png
/infographics.html
/mice_SRA.tsv
/output_food_tree_datatree.qza
/pca_colonization_effect.jpg
/pca_sucrose_effect.jpg
/phyloseq_for_angel_7.9.25_nutrition_human.rds
/raw_counts_matrix.tsv
/readme.md
/silva_nr99_v138.1_train_set.fa.gz
/table_S1.ai
/table_S1.png
/transplant_schematic_2024-06-23.ai
/v2_enterococcus_specificity_summary.pdf
